{% extends 'base.html' %}

{% block content %}
<div class="auth-bg">
    <div class="auth-box">
        <h2 style="margin-top:0; color:#000000;">Create Account</h2>
        <p style="color:#64748b; font-size:14px; margin-bottom:20px;">Sign up today to book cars, schedule delivery, and rate your rides.</p>
        <form method="POST">
            <label style="text-align:left; display:block; font-weight:600;">Username ID:</label>
            <input type="text" name="username" required placeholder="Create username">
            
            <label style="text-align:left; display:block; font-weight:600;">Password:</label>
            <input type="password" name="password" required placeholder="Create password">
            
            <button type="submit" class="btn">Register Profile</button>
        </form>
    </div>
</div>
{% endblock %}